body{background-color: #F9D221;}
h1{color: dodgerblue; font-family:symbol, serif;}
p{color: darkblue; font-size: 25;}
h2{color: dodgerblue; font-family: symbol, serif; font-size: 27}
a{color: darkblue; font-size: 20;}